.form-input__container, .add-to-playlist__form-input {
    display: block;
    margin-bottom: 15px;
}

.form-input__container label, .add-to-playlist__form-input label {
    font-family: 'Circular-Regular';
    font-size: 16px;
}

.form-input__container input, .form-input__container textarea, .add-to-playlist__form-input select {
    margin-top: 5px;
    font-family: 'Circular-Regular';
    font-size: 16px;
    border: 0;
    padding: 5px 15px;
    border-radius: 10px;
    margin-right: 0px;
    width: 100%;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: white;
}

.add-to-playlist__form-input select {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-position: right .75rem center;
    background-repeat: no-repeat;
    background-size: 16px 12px;
    appearance: none;
    -webkit-appearance: none;
}

.form-input__container input:focus, .form-input__container textarea:focus, .add-to-playlist__form-input select:focus {
    border: 1px solid #1DB954;
    outline: none;
    box-shadow: 0px 0px 5px 1px #1DB954;
    -webkit-appearance: none;
}

.form-input__container textarea {
    resize: none;
    height: 100px;
}

.form-input__page-container {
    display: block;
    margin-bottom: 15px;
}

.form-input__page-container label {
    font-family: 'Circular-Medium';
    font-size: 16px;
    color: white;
}

.form-input__page-container input, .form-input__page-container textarea, .form-input__page-container select {
    margin-top: 10px;
    font-family: 'Circular-Regular';
    font-size: 16px;
    border: 0;
    padding: 10px 15px;
    border-radius: 10px;
    margin-right: 0px;
    width: 100%;
    border: 1px solid #3E3E3E;
    box-sizing: border-box;
    background-color: #333333;
    color: white;
}

.form-input__page-container input:focus, .form-input__page-container textarea:focus, .form-input__page-container select:focus {
    border: 0.5px solid #1DB954;
    outline: none;
    box-shadow: 0px 0px 5px 1px #1DB954;
    -webkit-appearance: none;
}

.form-input__page-container input {
    margin-bottom: 6px;
}

.form-input__page-container textarea {
    resize: none;
    height: 100px;
    margin-bottom: 3px;
}

@media screen and (max-width: 375px) {
    .form-input__page-container {
        padding: 0 12.5px;
    }
}