.form__page {
    max-width: 925px;
}

.common__page-button-wrapper {
    display: flex;
    justify-content: flex-end;
    text-align: end;
}

.common__page-button-wrapper button {
    margin-top: 10px;
    font-family: 'Circular-Bold';
	color: white;
	font-size: 16px;
    padding: 7px 30px; 
	border-radius: 15px;
	border: 0;
    width: 100%;
    max-width: 120px;
    cursor: pointer;
}

.common__modal-button-wrapper, .success-modal-button-wrapper, .add-to-playlist__form-button-wrapper {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

.left, .right {
    flex: 1;
}

.left {
    padding-right: 10px;
}

.right {
    padding-left: 10px;
}

.common__modal-button-wrapper button, .success-modal-button-wrapper button, .add-to-playlist__form-button-wrapper button {
    font-family: 'Circular-Bold';
	color: white;
	font-size: 16px;
    padding: 5px 30px; 
	border-radius: 15px;
    width: fit-content;
    cursor: pointer;
    border: 2px solid #1DB954;
    box-sizing: border-box;
}

.common__modal-button-wrapper button, .add-to-playlist__form-button-wrapper button {
    width: 100%;
}

.success-modal-button-wrapper button {
    width: fit-content;
}

.common__modal-button-wrapper button:hover, .success-modal-button-wrapper button:hover, .add-to-playlist__form-button-wrapper button:hover {
    border: 2px solid #15863d;
}

@media screen and (max-width: 375px) {
    .form__page {
        margin: 0px 12.5px;
    }

    .common__page-button-wrapper {
        margin: 0 12.5px;
    }
}