.input-container {
    display: block;
    margin-bottom: 15px;
}

.input-container label {
    font-family: 'Circular-Regular';
    font-size: 16px;
}

.input-container input, .input-container textarea, .input-container select {
    margin-top: 5px;
    font-family: 'Circular-Regular';
    font-size: 16px;
    border: 0;
    padding: 5px 15px;
    border-radius: 10px;
    margin-right: 0px;
    width: 100%;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: white;
}

.input-container input:focus, .input-container textarea:focus, select:focus {
    border: 0.5px solid #1DB954;
    outline: none;
    box-shadow: 0px 0px 5px 1px #1DB954;
}

.input-container textarea {
    resize: none;
    height: 100px;
}

.input-pages-container {
    display: block;
    margin-bottom: 15px;
}

.input-pages-container label {
    font-family: 'Circular-Medium';
    font-size: 16px;
    color: white;
}

.input-pages-container input, .input-pages-container textarea, .input-pages-container select {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Circular-Regular';
    font-size: 16px;
    border: 0;
    padding: 10px 15px;
    border-radius: 10px;
    margin-right: 0px;
    width: 100%;
    border: 1px solid #3E3E3E;
    box-sizing: border-box;
    background-color: #333333;
    color: white;
}

.input-pages-container input:focus, .input-pages-container textarea:focus, .input-pages-container select:focus {
    border: 0.5px solid #1DB954;
    outline: none;
    box-shadow: 0px 0px 5px 1px #1DB954;
}

.input-pages-container textarea {
    resize: none;
    height: 100px;
}