.albumImage {
	height: auto;
	width: 100%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.login-logo {
	width: 50px;
	height: auto;
	margin-right: 10px;
}

.logo-img {
    width: 25px;
    height: 25px;
}

.sidebar-menu-logo {
	width: auto;
	height: 20px;
}

.play-button {
	width: 14px;
	height: auto;
}

.profile-img {
	height: 135%;
	position: absolute;
	top: 0;
	left: 0;
	clip-path: circle();
	margin-top: -5.5px;
}

.success-img {
	width: 200px;
	height: auto;
	margin-bottom: 20px;
}