.image-album {
	height: auto;
	width: 100%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.image-display-none {
	display: none;
}

.image-placeholder-container {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	min-width: 155px;
	max-width: 200px;
	min-height: 155px;
	max-height: 200px;
	background-color: #282828;
}

.image-placeholder {
	height: auto;
	width: 100%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.login-logo {
	width: 50px;
	height: auto;
	margin-right: 10px;
}

.logo-img {
    width: 25px;
    height: 25px;
}

.sidebar-menu-logo {
	width: auto;
	height: 20px;
}

.play-button {
	width: 14px;
	height: auto;
}

.profile-img {
	height: 135%;
	position: absolute;
	top: 0;
	left: -5px;
	clip-path: circle();
	margin-top: -5.5px;
}

.success-img {
	width: 200px;
	height: auto;
	margin-bottom: 20px;
}

.playlist-detail-img {
	width: 200px;
	height: auto;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}