.image {
	width: 100%;
	height: 100%;
}

.track-card__album-image, .playlist-card__album-image {
	height: auto;
	width: 100%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.image__display-none {
	display: none;
}

.image__placeholder-container {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	width: 100%;
	height: 100%;
	background-color: #282828;
}

.image__placeholder {
	height: 100%;
	width: 100%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.login-logo {
	width: 50px;
	height: auto;
	margin-right: 10px;
}

.common__logo-img {
    width: 25px;
    height: 25px;
}

.side-menu__logo {
	width: auto;
	height: 20px;
}

.play-button {
	width: 14px;
	height: auto;
}

.navbar__profile-img {
	height: 135%;
	position: absolute;
	top: 0;
	left: -5px;
	clip-path: circle();
	margin-top: -5.5px;
}

.success-modal__img, .no-network-modal__img {
	width: 200px;
	height: auto;
	margin-bottom: 20px;
}

.playlist-info__img {
	width: 200px;
	height: auto;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}