p {
	font-family: 'Circular-Regular';
	margin-bottom: 5px;
	font-size: 14px;
}

.loading {
	font-family: 'Circular-Bold';
	font-size: 24px;
	color: white;
	margin-top: 20px;
}

.common__main-title {
	font-family: 'Circular-Black';
	font-size: 32px;
	color: white;
	margin-bottom: 30px;
}

.login-title {
	font-family: 'Circular-Bold';
	font-size: 32px;
	color: white;
	margin: 0px;
}

.card__title {
	font-family: 'Circular-Bold';
	font-size: 16px;
}

.card__album {
	margin: 10px 0px;
}

.common__logo-text {
	font-family: 'Circular-Bold';
    color: white;
    font-size: 20px;
	line-height: 30px;
	float: right;
	margin-left: 10px;
	margin-bottom: 0px;
}

.side-menu__text {
	font-family: 'Circular-Medium';
	color: white;
	font-size: 16px;
	line-height: 20px;
	margin-left: 13px;
	margin-bottom: 0px;
}

.create-playlist-title, .add-to-playlist__modal-title {
	font-family: 'Circular-Bold';
	color: black;
	font-size: 24px;
	margin-bottom: 30px;
}

.success-modal__title, .no-network-modal__title {
	font-family: 'Circular-Bold';
	font-size: 22px;
	margin-bottom: 10px;
}

.success-modal__description, .no-network-modal__description {
	font-family: 'Circular-Regular';
	font-size: 16px;
}

.playlist-info__text-title {
	font-family: 'Circular-Medium';
	font-size: 14px;
	color: white;
	letter-spacing: 5px;
}

.playlist-info__text-name {
	font-family: 'Circular-Bold';
	font-size: 32px;
	color: white;
}

.playlist-info__text-description {
	font-family: 'Circular-Regular';
	font-size: 16px;
	color: white;
	margin-top: 20px;
}

.track-row__song-title {
	font-family: 'Circular-Medium';
	font-size: 16px;
}

.track-row__album {
	font-family: 'Circular-Regular';
	font-size: 16px;
}

.have-no-track-info {
	font-family: 'Circular-Medium';
	color: white;
	font-size: 16px;
	margin-top: 15vh;
	text-align: center;
}

.copyright-text {
	font-family: 'Circular-Medium';
	color: white;
	font-size: 12px;
}

@media screen and (max-width: 450px) {
	.playlist-info__text-name {
		font-size: 24px;
	}

	.have-no-track-info {
		margin-top: 10vh;
	}
}

@media screen and (max-width: 375px) {
	.common__main-title {
	  margin-left: 12.5px;
	  margin-right: 12.5px;
	  font-size: 28px;
	}
}