p {
	font-family: 'Circular-Regular';
	margin-bottom: 5px;
	font-size: 14px;
}

.loading {
	font-family: 'Circular-Bold';
	font-size: 24px;
	color: white;
	margin-top: 20px;
}

.main-title {
	font-family: 'Circular-Black';
	font-size: 32px;
	color: white;
	margin-bottom: 30px;
}

.login-title {
	font-family: 'Circular-Bold';
	font-size: 32px;
	color: white;
	margin: 0px;
}

.title {
	font-family: 'Circular-Bold';
	font-size: 16px;
}

.albumText {
	margin: 10px 0px;
}

.header-logo-text {
	font-family: 'Circular-Bold';
    color: white;
    font-size: 20px;
	line-height: 30px;
	float: right;
	margin-left: 10px;
	margin-bottom: 0px;
}

.sidebar-menu-text {
	font-family: 'Circular-Medium';
	color: white;
	font-size: 16px;
	line-height: 20px;
	margin-left: 13px;
	margin-bottom: 0px;
}

.create-playlist-title {
	font-family: 'Circular-Bold';
	color: black;
	font-size: 24px;
	margin-bottom: 30px;
}

.success-title-text {
	font-family: 'Circular-Bold';
	font-size: 22px;
	margin-bottom: 10px;
}

.success-info-text {
	font-family: 'Circular-Regular';
	font-size: 16px;
}

@media screen and (max-width: 375px) {
	.main-title {
	  margin-left: 12.5px;
	  margin-right: 12.5px;
	}
}