.header {
    background-color: #191414;
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 100px);
    padding: 10px 50px;
    z-index: 1;
    /* box-shadow: 0px 8px 10px 0px hsla(0,0%,20%,.1); */
}

.logo {
    float: left;
    cursor: pointer;
}

.profile {
    font-family: 'Circular-Medium';
    color: white;
    float: right;
    font-size: 15px;
    background-color: hsla(0,0%,100%,.1);
    padding: 5px 15px;
    border-radius: 20px;
}

@media screen and (max-width: 600px) {
    .header {
      padding: 10px 30px;
      width: calc(100% - 60px);
    }
  }
  
  @media screen and (max-width: 485px) {
    .header {
      padding: 10px 20px;
      width: calc(100% - 40px);
    }
  }