.wrapper {
	width: auto;
	background-color: hsla(0,0%,50%,.1);
	padding: 0px;
	border-radius: 10px;
	color: white;
	max-width: 200px;
	display: flex;
	flex-direction: column;
}

.wrapper:hover {
	background-color: hsla(0,0%,80%,.1);
}

.detail-container {
	padding: 15px;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

.text-wrapper {
	flex: auto;
	cursor: default;
}

.image-wrapper {
	height: fit-content;
	width: fit-content;
	position: relative;
}

.button-wrapper {
	position: absolute;
	right: 10px;
	bottom: 10px;
	opacity: 0;
	transition: opacity 300ms;
}

.wrapper button {
	font-family: 'Circular-Bold';
	color: white;
	background-color: #1DB954;
	font-size: 14px;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	border: 0;
	cursor: pointer;
	align-self: flex-end;
	flex: 1;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.wrapper button:hover {
	background-color: #15863d;
	transition: all 300ms;
	width: 36px;
	height: 36px;
}

.wrapper:hover .button-wrapper {
	flex: auto;
	opacity: 1;
}

@media screen and (max-width: 760px) {
	.wrapper {
	  max-width: calc(32.6% - 12.5px);
	}
}

@media screen and (max-width: 660px) {
	.wrapper {
	  max-width: calc(50% - 12.5px);
	}
}

@media screen and (max-width: 375px) {
	.wrapper {
	  margin: 12.5px;
	  max-width: calc(50% - 25px);
	}
}