.track-card {
	width: auto;
	background-color: hsla(0,0%,50%,.1);
	padding: 0px;
	border-radius: 10px;
	color: white;
	max-width: 200px;
	display: flex;
	flex-direction: column;
	word-wrap: break-word;
	flex-basis: 100%;
}

.track-card:hover {
	background-color: hsla(0,0%,80%,.1);
}

.track-card__detail {
	padding: 15px;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

.track-card__text-wrapper {
	flex: auto;
	cursor: default;
}

.track-card__image-wrapper {
	height: fit-content;
	aspect-ratio: 1 / 1;
	width: 100%;
	position: relative;
}

.track-card__button-wrapper {
	position: absolute;
	right: 10px;
	bottom: 10px;
	opacity: 0;
	transition: opacity 300ms;
}

.track-card button {
	font-family: 'Circular-Bold';
	color: white;
	font-size: 14px;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	border: 0;
	cursor: pointer;
	align-self: flex-end;
	flex: 1;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.track-card button:hover {
	transition: all 300ms;
	width: 36px;
	height: 36px;
}

.track-card:hover .track-card__button-wrapper {
	flex: auto;
	opacity: 1;
}

@media screen and (max-width: 760px) {
	.track-card {
	  max-width: calc(32.6% - 12.5px);
	}
}

@media screen and (max-width: 666px) {
	.track-card {
	  max-width: calc(32% - 12.5px);
	}
}

@media screen and (max-width: 600px) {
	.track-card {
	  max-width: calc(50% - 12.5px);
	}
}


@media screen and (max-width: 375px) {
	.track-card {
	  margin: 12.5px;
	  max-width: calc(50% - 25px);
	}
}