.my-playlist {
    width: 100%;
}

.my-playlist__track-card__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 200px));
    grid-gap: 25px;
}

@media screen and (max-width: 760px) {
    .my-playlist__track-card__container {
        grid-template-columns: repeat(3, minmax(100px, 1fr));
    }
}

@media screen and (max-width: 600px) {
    .my-playlist__track-card__container {
        grid-template-columns: repeat(2, minmax(100px, 1fr));
    }
}

@media screen and (max-width: 375px) {
	.my-playlist__track-card__container {
	  grid-gap: 0px;
	}
}