.playlist-tracks {
    border-collapse: collapse;
    width: 100%;
    color: white;
}

th {
    font-family: 'Circular-Bold';
    letter-spacing: 5px;
    font-size: 14px;
    text-align: left;
    padding: 10px 15px;
}

td {
    font-family: 'Circular-Regular';
    font-size: 16px;
    padding: 10px 15px;
}

tr {
    cursor: default;
}

.track-row:hover {
    background-color: hsla(0,0%,80%,.1);
}

.track-row__title {
    display: flex;
    align-items: center;
}

.track-row__text-wrapper {
    margin-left: 20px;
}

@media screen and (max-width: 725px) {
    .hide-in-mobile {
      display: none;
    }
  }