.playlist-card__wrapper {
	width: auto;
	background-color: hsla(0,0%,50%,.1);
	padding: 0px;
	border-radius: 10px;
	color: white;
	max-width: 200px;
	display: flex;
	flex-direction: column;
	cursor: pointer;
	word-wrap: break-word;
}

.playlist-card__wrapper:hover {
	background-color: hsla(0,0%,80%,.1);
}

.playlist-card__detail {
	padding: 15px;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

.playlist-card__image-wrapper {
	height: fit-content;
	width: 100%;
	position: relative;
	aspect-ratio: 1 / 1;
}

@media screen and (max-width: 660px) {
	.playlist-card__wrapper {
	  max-width: none;
	}
}

@media screen and (max-width: 375px) {
	.playlist-card__wrapper {
	  margin: 12.5px;
	}
}