.playlist-info-container {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.playlist-info-text-wrapper {
    margin-left: 30px;
}

@media screen and (max-width: 792px) {
    .playlist-info-text-wrapper {
        flex: 2;
    }
}

@media screen and (max-width: 575px) {
    .playlist-info-container {
        flex-direction: column;
        margin-bottom: 30px;
    }

    .playlist-info-text-wrapper {
        margin-top: 40px;
        margin-left: 0px;
        width: 100%;
    }
}

@media screen and (max-width: 375px) {
	.playlist-info-container {
	  padding-left: 12.5px;
	  padding-right: 12.5px;
	}
}