@font-face {
  font-family: 'Circular-Regular';
  src: url('./fonts/CircularStd-Book.ttf') format('truetype');
}

@font-face {
  font-family: 'Circular-Medium';
  src: url('./fonts/CircularStd-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Circular-Bold';
  src: url('./fonts/CircularStd-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Circular-Black';
  src: url('./fonts/CircularStd-Black.ttf') format('truetype');
}

a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  padding: 90px 50px;
  background-color: #191414;
  min-height: calc(100vh - 180px);
  display: block;
}

@media screen and (max-width: 600px) {
  .container {
    padding: 90px 30px;
  }
}

@media screen and (max-width: 485px) {
  .container {
    padding: 90px 20px;
  }
}

@media screen and (max-width: 375px) {
  .container {
    padding: 90px calc(20px - 12.5px);
  }
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
